/**#eif_access_token{width:392px; height:auto;}*/
#eif_feed:after{ content:"";display:table;clear:both; }
.clearfix{clear:both;}
#eif_feed{ margin:0 auto; }
#eif_images{ max-width:100%;height:auto;/*float:left;*/ }

.eif_item{ 
    padding:inherit !important; 
    display:inline-block; 
    margin:0px !important;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
/* .eif_fixed_width{overflow-y:hidden; overflow-x:auto;}
.eif_fixed_height{overflow-x:hidden; overflow-y:auto;} */


.eif_fixed_width {  overflow-x: hidden; }

/* column size*/
.eif-col-1 .eif_item{ width:100%; }
.eif-col-2 .eif_item{ width:50%; }
.eif-col-3 .eif_item{ width:33.33%; }
.eif-col-4 .eif_item{ width:25%; }
.eif-col-5 .eif_item{ width:20% }
.eif-col-6 .eif_item{ width:16.65% }
.eif-col-7 .eif_item{ width:14.25% }
.eif-col-8 .eif_item{ width:12.50% }
.eif-col-9 .eif_item{ width:11.10% }
.eif-col-10 .eif_item{ width:10% }

/*button css*/
.btn_clsss {
background: #887F7B;
border: none;
border-radius: 10px;
color: #fff;
display: inline-block;
padding: 11px 24px 10px;
text-decoration: none;
}


/*Media Screen Css -------------------------------*/

@media only screen and (min-width: 767px) and (max-width: 959px) {
.eif-col-1 .eif_item{ width:50%; }
.eif-col-2 .eif_item{ width:50%; }
.eif-col-3 .eif_item{ width:50%; }
.eif-col-4 .eif_item{ width:50%; }
.eif-col-5 .eif_item{ width:50% }
.eif-col-6 .eif_item{ width:50% }
.eif-col-7 .eif_item{ width:50% }
.eif-col-8 .eif_item{ width:50% }
.eif-col-9 .eif_item{ width:50% }
.eif-col-10 .eif_item{ width:50% }

}	

@media only screen and (min-width: 480px) and (max-width: 767px){ 
#eif_feed button { padding: 10px 18px 10px !important; font-size: 11px !important; }

.eif-col-1 .eif_item{ width:50%; }
.eif-col-2 .eif_item{ width:50%; }
.eif-col-3 .eif_item{ width:50%; }
.eif-col-4 .eif_item{ width:50%; }
.eif-col-5 .eif_item{ width:50% }
.eif-col-6 .eif_item{ width:50% }
.eif-col-7 .eif_item{ width:50% }
.eif-col-8 .eif_item{ width:50% }
.eif-col-9 .eif_item{ width:50% }
.eif-col-10 .eif_item{ width:50% }

}


@media only screen and (min-width: 200px) and (max-width: 480px) { 
#eif_feed button {float: none !important; margin-bottom: 15px !important; margin-left: 0px !important; padding: 10px 18px 10px !important; font-size: 11px !important ;}
.eif-col-1 .eif_item{ width:100%; }
.eif-col-2 .eif_item{ width:100%; }
.eif-col-3 .eif_item{ width:100%; }
.eif-col-4 .eif_item{ width:100%; }
.eif-col-5 .eif_item{ width:100% }
.eif-col-6 .eif_item{ width:100% }
.eif-col-7 .eif_item{ width:100% }
.eif-col-8 .eif_item{ width:100% }
.eif-col-9 .eif_item{ width:100% }
.eif-col-10 .eif_item{ width:100% }
}

}
/* short code attribute table css */
.att_table{border-collapse: collapse;font-size: 14px;}
.att_table th{background-color: rgb(181, 183, 186);padding: 0.5rem;}
.att_table_header {
background: #ddd;
font-weight: bold;
}
.inside p{font-size:14px !important;}
 /*td{padding: 0.5rem;}*/
 
 
 
 /* video class css */
 .eif_photo_wrap {
position: relative;
}

.eif_playbtn {
font-size: 23px;
margin-top: -12px;
margin-left: -10px;
}

.eif_photo_wrap {
position: relative;
}
.met{
font-size: 23px !important;
margin-top: 43%;
margin-left: -9px;
display:block;
position: absolute;
z-index:10;
top: 50%;
left: 50%;
padding: 0;
color: #fff;
color: rgba(255,255,255,0.9);
font-style: normal !important;
text-shadow: 0 0 8px rgba(0,0,0,0.8);
}


.row {
width: 100%;
float: left;
margin-bottom:5px;
}

/*Add new css for template*/
.main-content {
	width: 1170px;
	display: block;	
	overflow: hidden;
	position: relative;
	margin: 0px auto;
}
.column-left {
	width: 800px;
	display: block;
	float: left;
	padding: 0 15px;
}
.column-right {
	width: 310px;
	display: block;
	float: right;
	padding: 0 15px;	
}
.main-content img {
max-width: 100%;
}

#eif_feed .eif_caption{word-break: break-word;}

/*new css for comments and likes*/
#eif_feed .eif_info {
width: 100%;
float: left;
clear: both;
text-decoration: none;
color: #666;
text-align: center;
}

#eif_feed .eif_meta span {
margin: 0 5px!important;
font-size: 11px;
}

#eif_feed .eif_meta {
line-height: 1.1;
padding: 4px 0 8px 0;
}

#eif_feed .eif_meta i {
 margin-right: 5px!important;
}

/*Expendaed classs*/

.expand{display: none;}

.eif_expand span{color: #030303;}
span a{text-decoration: none;}


.eif_token {width:550px; height:auto;}


/*user header */

#eif_feed .eif_user_header {
float: left;
clear: both;
margin: 0 0 15px 0;
padding: 0;
line-height: 1.2;
width: 100%;
}

#eif_feed .eif_user_header a {
text-decoration: none;
}

#eif_feed .eif_header_text {
float: left;
width: 100%;
padding-top: 5px;
}
#eif_feed .eif_header_img{
float: left;
position: relative;
width: 50px;
margin: 0 0 0 -100% !important;
overflow: hidden;
-moz-border-radius: 40px;
-webkit-border-radius: 40px;
border-radius: 40px;
}

#eif_feed .eif_user_header h3 {
font-size: 16px;
line-height: 1.3;
margin-left: 60px;
margin-top: 4px;
}

#eif_feed .eif_header_text * {
float: left;
clear: both;
width: auto;
margin: 0 0 0 60px!important;
padding: 0!important;
}

/* feed images wrapper */
#eif_feed.wrapper_img {
position: relative;
max-width: 600px;
margin: 0 auto;
margin-top: 40px;
line-height: 0;

}


.img_hover{
 position: absolute;
 z-index: 1;
 width: 0;

 background-color: rgba(0, 0, 0, 0.8);
 opacity: 0;
 cursor: pointer;
 }
 
 
 .eif_item:hover .img_hover {
opacity: 1;
width: 141px;
 height: 140px; 
 
}
.eif_username a:hover{color: #ddd ;}
.eif_username a{color: #ddd; }
#eif_feed .eif_username, #eif_feed .eif_date {
position: absolute;
width: 98%;
text-align: center;
padding: 1%!important;
margin: 0!important;
font-size: 12px;
color: #ddd;
color: rgba(255,255,255,0.8);
}

#eif_feed .eif_date {
bottom: 10px;
}


#eif_feed .img_hover .eif_feed_link {
font-size: 25px;
position: absolute;
z-index: 100;
bottom: -5px;
right: 0px;
padding: 8px;
color: #9f9f9f;
outline:none
}

#eif_feed.eif_lightbox_link, #eif_feede.if_lightbox_link, #eif_feed.sbi_playbtn {
    font-size: 23px;
    margin-top: -12px;
    margin-left: -10px;
}


#eif_feed .eif_lightbox_link {
     display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-top: -19px;
  margin-left: -12px;
  padding: 0px;
  font-size: 25px;
  font-style: normal !important;
  color: rgb(249, 243, 243);
}
.eif_feed_link { 
bottom: 0;
    font-size: 30px;
    padding: 8px;
    position: absolute;
    right: 2px;
    z-index: 100;
	color: rgba(255, 255, 255, 0.7);
 }
.eif_feed_link i { color: rgba(255, 255, 255, 0.7); }



#eif_settings_form h3 {
  padding-left: 0px;
}






/*Css by Shahid -------------------------------------------------------*/

.image-container {
    position: relative;
    width: auto;
    height: auto;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}

#eif_feed img {
  border: none;
  max-width: 100%;
  
}


.image-container{
    padding-bottom:100%;
    overflow:hidden;
}

.image-container img {
   position:absolute;
   width:auto;
    min-width:100%;
    min-height:100%;
}


